body {
    background-color: #2ECC71;
    color: #283747;
    height: 100vh;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
  }
  
  h1{
    text-align: center;
    font-size: 50px;
    background-color: #1D8348;
    box-shadow: 0 3px 8px #283747;
    border-radius: 5px;
    padding: 10px;
  }
  textarea{
    width: 100%;
    background-color: #F7DC6F;
    border-color: #28B463;
  }
  div{
    text-align: center;
    font-size: 20px;
  }
  span{
    font-weight: bold;
    font-size: 40px;
    background-color: #E67E22;
    padding: 0px 15px;
    border-radius: 10px;
    vertical-align: middle;
  }